

ul.style{
    list-style: none;
}

a:link, a:active{
    color: #808080;
    text-decoration:none;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: #596592;
}

a:hover, a:active{
    color: #f55d9e;
    border-bottom-style: solid;
}


.header{
    width: 1250px;
    height:650px;
    position: relative;
    overflow: hidden;
    padding: 200;
    margin: auto;
    
}


.index li{
    position: absolute;
    right: 0;
    top:0;
    opacity: 1;
    animation: slide 12s ease infinite forwards;
}

.index li: nth-child(1){
    opacity:1;
    z-index: 3;
}

.index li: nth-child(2){
    z-index: 3;
    animation-delay: 4s;
}

@keyframes slide{
    0%{opacity: 1; left: 0;}
    33.33%{opacity: 0.5; left: -120%}
    34%{opacity: 0;}
    66.66%{left: 0; opacity: 0;}
    100%{opacity: }
}


footer{
     width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding:20px;
    background-color: #c79f9f;
    color:white;
    text-align: : center;
    
}